[Unit]
Description=MQTT Hue Controller Service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/andreas/MQTT/MQTT_HueController.py
Restart=on-failure
Environment=PYTHONPATH=/home/andreas/Python3_Modules
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
