[Unit]
Description=MQTT Manage Buzzer Service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/MQTT/MQTT_Managebuzzer.py
Restart=on-failure
Environment=PYTHONPATH=/home/pi/Python3_Modules
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
