[Unit]
Description=MQTT Motion Detektor Service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/andreas/MQTT/MQTT_Motiondetektor.py
Restart=on-failure
Environment=PYTHONPATH=/home/andreas/Python3_Modules:/home/andreas/non-git-local-includes
WorkingDirectory=/home/andreas/MQTT/
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
