[Unit]
Description=MQTT Hue Controller Service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/MQTT/MQTT_RadioController.py
Restart=on-failure
Environment=PYTHONPATH=/home/pi/Python3_Modules:/home/pi/non-git-local-includes
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
