[Unit]
Description=MQTT Sound Controller Service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/andreas/MQTT/MQTT_Soundcontroller.py
Restart=on-failure
#Environment=PYTHONPATH=/home/andreas/Python3_Modules
WorkingDirectory=/home/andreas/MQTT/
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
