[Unit]
Description=System Monitor Service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/andreas/MQTT/MQTT_Clientstatus2Slack.py
Restart=on-failure
Environment=PYTHONPATH=/home/andreas/Python3_Modules
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target

