[Unit]
Description=MQTT TpLink Monitor Service

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/MQTT/MQTT_TplinkHS110Monitor.py
Restart=on-failure
Environment=PYTHONPATH=/home/pi/Python_Modules
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
